# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [39]:
# import libraries

import numpy as np
import pandas as pd

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [40]:
# import dataset

pokemon = pd.read_csv('/Users/GiadaSartori/Documents/IRONHACK/Lab/Week2/lab-dataframe-calculations/your-code/Pokemon.csv')
display(pokemon)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### Print first 10 rows of `pokemon`.

In [41]:
# your code here

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [42]:
# your code here

#Obtain the distinct values of Type 1

#print(type(pokemon['Type 1'])) --> Type 1 is a series
#print(type(pokemon['Type 2'])) --> Type 2 is a series

pokemon_t1 = pokemon['Type 1'].unique()
pokemon_t1

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [43]:
#Obtain the distinct values of Type 1

pokemon_t2 = pokemon['Type 2'].unique()
pokemon_t2

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

In [44]:
#Create an array containing the distinct values across both fields.

p_unique_values = set(pokemon_t1) | set(pokemon_t2)
p_unique_values

{'Bug',
 'Dark',
 'Dragon',
 'Electric',
 'Fairy',
 'Fighting',
 'Fire',
 'Flying',
 'Ghost',
 'Grass',
 'Ground',
 'Ice',
 'Normal',
 'Poison',
 'Psychic',
 'Rock',
 'Steel',
 'Water',
 nan}

In [45]:
pokemon_values = pokemon[["Type 1", "Type 2"]].values.ravel()
unique_values = pd.unique(pokemon_values)
print(unique_values)

['Grass' 'Poison' 'Fire' nan 'Flying' 'Dragon' 'Water' 'Bug' 'Normal'
 'Electric' 'Ground' 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Steel' 'Ice'
 'Ghost' 'Dark']

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [46]:
# your code here

#Premise: Localize where the word 'Mega'is in the column Name, in order to retrive from the dataframe pokemon, which values or strings contain the word 'Mega'

pokemon.loc[pokemon['Name'].str.contains('Mega', case=False)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
87,80,SlowbroMega Slowbro,Water,Psychic,590,95,75,180,130,80,30,1,False
102,94,GengarMega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False
124,115,KangaskhanMega Kangaskhan,Normal,NaN,590,105,125,100,60,100,100,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
141,130,GyaradosMega Gyarados,Water,Dark,640,95,155,109,70,130,81,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
168,154,Meganium,Grass,NaN,525,80,82,100,83,100,80,2,False
196,181,AmpharosMega Ampharos,Electric,Dragon,610,90,95,105,165,110,45,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
229,212,ScizorMega Scizor,Bug,Steel,600,70,150,140,65,100,75,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
248,229,HoundoomMega Houndoom,Dark,Fire,600,75,90,90,140,90,115,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,False
275,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
283,260,SwampertMega Swampert,Water,Ground,635,100,150,110,95,110,70,3,False
306,282,GardevoirMega Gardevoir,Psychic,Fairy,618,68,85,65,165,135,100,3,False
327,302,SableyeMega Sableye,Dark,Ghost,480,50,85,125,85,115,20,3,False
329,303,MawileMega Mawile,Steel,Fairy,480,50,105,125,55,95,50,3,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
336,308,MedichamMega Medicham,Fighting,Psychic,510,60,100,85,80,85,100,3,False
339,310,ManectricMega Manectric,Electric,NaN,575,70,75,80,135,80,135,3,False
349,319,SharpedoMega Sharpedo,Water,Dark,560,70,140,70,110,65,105,3,False
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False
366,334,AltariaMega Altaria,Dragon,Fairy,590,75,110,110,110,105,80,3,False
387,354,BanetteMega Banette,Ghost,NaN,555,64,165,75,93,83,75,3,False
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
397,362,GlalieMega Glalie,Ice,NaN,580,80,120,80,120,80,100,3,False
409,373,SalamenceMega Salamence,Dragon,Flying,700,95,145,130,120,90,120,3,False
413,376,MetagrossMega Metagross,Steel,Psychic,700,80,145,150,105,110,110,3,False
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
476,428,LopunnyMega Lopunny,Normal,Fighting,580,65,136,94,54,96,135,4,False
494,445,GarchompMega Garchomp,Dragon,Ground,700,108,170,115,120,95,92,4,False
498,448,LucarioMega Lucario,Fighting,Steel,625,70,145,88,140,70,112,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
520,469,Yanmega,Bug,Flying,515,86,76,86,116,56,95,4,False
527,475,GalladeMega Gallade,Psychic,Fighting,618,68,165,95,65,115,110,4,False
591,531,AudinoMega Audino,Normal,Fairy,545,103,60,126,80,126,50,5,False
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True

In [47]:
#1: We understand that 'Mega' is a substring of the strings "VenusaurMega Venusaur" and "CharizardMega Charizard X", which appear in the column Name from the dataframe
# pokemon. We apply the find() specifically to both our strings to understand from which position/index our substring Mega starts. 

## Case for VenusaurMega Venusaur

name = 'VenusaurMega Venusaur' #string
mega = 'Mega' #substring of string 'mega'

print(name.find(mega))

start_index_of_mega = name.find(mega)

new_name = name[start_index_of_mega:]
new_name

8

'Mega Venusaur'

In [48]:
## Case for CharizardMega Charizard X

name = 'CharizardMega Charizard X' #string
mega = 'Mega' #substring of string 'mega'

print(name.find(mega))

start_index_of_mega = name.find(mega)

new_name = name[start_index_of_mega:]
new_name

9

'Mega Charizard X'

In [49]:
#2: We realize that in above cases, our variable or substring mega starts in position 8 for Mega Venusaur whereas in position 9 for string CharizardMega Charizard X. 
# We then create a generic function to clean the names/strings in scope and return the cleaned_name in case 'mega', as a substring, is found in the string. 

mega = 'Mega' #substring of whatever string we find in column Name

def clean_name(name):
    if 'Mega'in name:
        start_index_of_mega = name.find(mega)
        cleaned_name = name[start_index_of_mega:]    
        return cleaned_name
    else:
        return name

In [50]:
#3. Then we apply our generic function - apply(clean_name) - to the column 'Name'of our dataframe pokemon, and generate a new column called 'clean_name' where
#the cleaned names will be rendered. 

pokemon['clean_name'] = pokemon['Name'].apply(clean_name)
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,clean_name
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Venusaur
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Mega Venusaur
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Charmander
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Diancie
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Mega Diancie
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,HoopaHoopa Confined
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,HoopaHoopa Unbound
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Volcanion

In [51]:
# test transformed data
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,clean_name
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Venusaur
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Mega Venusaur
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Charmander
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,Charmeleon
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,Charizard
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,Mega Charizard X
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,Mega Charizard Y
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,Squirtle

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [52]:
# your code here

pokemon['A/D Ratio'] = pokemon['Attack']/pokemon['Defense']

pokemon[['Attack', 'Defense', 'A/D Ratio']].head(30)

    Attack  Defense  A/D Ratio
0       49       49   1.000000
1       62       63   0.984127
2       82       83   0.987952
3      100      123   0.813008
4       52       43   1.209302
5       64       58   1.103448
6       84       78   1.076923
7      130      111   1.171171
8      104       78   1.333333
9       48       65   0.738462
10      63       80   0.787500
11      83      100   0.830000
12     103      120   0.858333
13      30       35   0.857143
14      20       55   0.363636
15      45       50   0.900000
16      35       30   1.166667
17      25       50   0.500000
18      90       40   2.250000
19     150       40   3.750000
20      45       40   1.125000
21      60       55   1.090909
22      80       75   1.066667
23      80       80   1.000000
24      56       35   1.600000
25      81       60   1.350000
26      60       30   2.000000
27      90       65   1.384615
28      60       44   1.363636
29      85       69   1.231884

In [53]:
#At this point, the column A/D Ration is added as the last column of tha dataframe pokemon

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,clean_name,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Venusaur,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Mega Venusaur,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Charmander,1.209302
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,Charmeleon,1.103448
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,Charizard,1.076923
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,Mega Charizard X,1.171171
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,Mega Charizard Y,1.333333
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,Squirtle,0.738462

#### Identify the pokemon with the highest `A/D Ratio`.

In [54]:
#Add A/D Ratio to the dataframe pokemon

pokemon[['Attack', 'Defense', 'A/D Ratio']].head(30)

    Attack  Defense  A/D Ratio
0       49       49   1.000000
1       62       63   0.984127
2       82       83   0.987952
3      100      123   0.813008
4       52       43   1.209302
5       64       58   1.103448
6       84       78   1.076923
7      130      111   1.171171
8      104       78   1.333333
9       48       65   0.738462
10      63       80   0.787500
11      83      100   0.830000
12     103      120   0.858333
13      30       35   0.857143
14      20       55   0.363636
15      45       50   0.900000
16      35       30   1.166667
17      25       50   0.500000
18      90       40   2.250000
19     150       40   3.750000
20      45       40   1.125000
21      60       55   1.090909
22      80       75   1.066667
23      80       80   1.000000
24      56       35   1.600000
25      81       60   1.350000
26      60       30   2.000000
27      90       65   1.384615
28      60       44   1.363636
29      85       69   1.231884

In [55]:
# your code here

#1. We retrieve what is the highest A/D Ratio

#Option 1
max_value = max(pokemon['A/D Ratio'])
max_value


#Option 2
pokemon['A/D Ratio'].max()

9.0

In [56]:
#2. We want to localize the position of the pokemon with the highest A/D Ratio: 
# - Use df[column_name] to access a specific column from a DataFrame. 
# - Call column.idxmax() to return the index of the maximum value from the previous result column.

column = pokemon['A/D Ratio']
max_index = column.idxmax()
print(max_index)

429

In [57]:
#3. We want to know which pokemon is in position 429

condition = pokemon['A/D Ratio'] == 9.0

pokemon[condition].head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,clean_name,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,DeoxysAttack Forme,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [58]:
# your code here

#Option 1
min_value = min(pokemon['A/D Ratio'])
min_value

#Option 2
pokemon['A/D Ratio'].min()

0.043478260869565216

In [59]:
#2. We want to localize the position of the pokemon with the lowest A/D Ratio: 
# - Use df[column_name] to access a specific column from a DataFrame. 
# - Call column.idmin() to return the index of the minimum value from the previous result column.

column = pokemon['A/D Ratio']
min_index = column.idxmin()
print(min_index)

230

In [60]:
#3. We want to know which pokemon is in position 230

condition = pokemon['A/D Ratio'] == 0.043478260869565216

pokemon[condition].head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,clean_name,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,Shuckle,0.043478

In [61]:
##Other solition, which is more efficient, and consists of defining a condition to extrapolate the details of the pokemon with the highest A/D Ratio.

##1. Max value

condition = pokemon['A/D Ratio'].max()

pokemon[pokemon['A/D Ratio'] == condition]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,clean_name,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,DeoxysAttack Forme,9.0

In [62]:
##2. Min value

condition = pokemon['A/D Ratio'].min()

pokemon[pokemon['A/D Ratio'] == condition]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,clean_name,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,Shuckle,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [63]:
#1. Replace the NaN values for the entire pokemon dataframe, and reassign it again to the dataframe pokemon because .fillna() is not an inplace method

pokemon = pokemon.fillna(' ')

#We can also replace the NaN values only for column Type 2 --> pokemon['Type 2'] = pokemon['Type 2'].fillna(' ')

In [64]:
# your code here

#1. Replace the NaN values of Type 1

#pokemon['Type 1'] = pokemon['Type 1'].fillna(' ')

In [65]:
#1. Replace the NaN values of Type 2

#pokemon['Type 2'] = pokemon['Type 2'].fillna(' ')

In [66]:
#2. We sum two columns in a our pandas DataFrame and add the entries in each row to each other.

pokemon['Combo Type'] = pokemon['Type 1'] + ' ' + pokemon['Type 2']

In [67]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,clean_name,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Bulbasaur,1.000000,Grass Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Ivysaur,0.984127,Grass Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Venusaur,0.987952,Grass Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Mega Venusaur,0.813008,Grass Poison
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False,Charmander,1.209302,Fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Diancie,0.666667,Rock Fairy
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Mega Diancie,1.454545,Rock Fairy
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,HoopaHoopa Confined,1.833333,Psychic Ghost
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,HoopaHoopa Unbound,2.666667,Psychic Dark
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Volcanion,0.916667,Fire Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [68]:
# your code here

#We know that the highest A/D ratio is 9.0, hence we set is a condition, and we look in the entire dataframe which are the pokemon with an A/D ratio equals to 9.0,
#then reduce the results to top 5

pokemon_top5 = pokemon[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].max()].head(5)
pokemon_top5

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,clean_name,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,,600,50,180,20,180,20,150,3,True,DeoxysAttack Forme,9.0,Psychic

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [69]:
# your code here

ls_pokemon = list(pokemon_top5['Combo Type'].unique())
ls_pokemon

['Psychic  ']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [72]:
pokemon['A/D Ratio']

0      1.000000
1      0.984127
2      0.987952
3      0.813008
4      1.209302
         ...
795    0.666667
796    1.454545
797    1.833333
798    2.666667
799    0.916667
Name: A/D Ratio, Length: 800, dtype: float64

In [73]:
# your code here

pokemon.mean()

/var/folders/vy/72w35wd12ms4_h7n214795k40000gn/T/ipykernel_65695/3080266294.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pokemon.mean()

#             362.813750
Total         435.102500
HP             69.258750
Attack         79.001250
Defense        73.842500
Sp. Atk        72.820000
Sp. Def        71.902500
Speed          68.277500
Generation      3.323750
Legendary       0.081250
A/D Ratio       1.164547
dtype: float64